.lateral{
    background-color: #2E282A;
    color:white;
    height: 100vh;
    font-family: "Lato", sans-serif;
}


.lateral li {
    padding-left: 20%;
    list-style: none;
}

.lateral a {
    text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;

}

.lateral a:hover {
    color: #f1f1f1;
}

#logout {
    position: relative;
    top: 20vw;
}

.menu{
    margin-top: 5vw;
}


/* 
.menu li {
    padding: 20px 8px 6px 16px;

} */

.pagina{
    width: 75vw;
    float: right;
}

.bg-dark a {
    color:white;
}

.bg-dark label {
    color:white;
}
.card-bg {
    background-color:blue;
}

.container{
    margin: 0;
    height: 100vh;
}


.btn-primary{
    background-color: #E3D924;
    color: #2E282A;
    border: none;
}

.btn-primary:hover {
    background-color: #8EB8E5;
}


h1,h2{
    color: #E3D924;
}

