.bg-dark {
    background-color: #2E282A;
    color:white;
}
.bg-dark a {
    color:white;
}

.bg-dark label {
    color:white;
}
.card-bg {
    background-color: #8EB8E5;
    color:white;
}
.btn-primary{
    background-color: #E3D924;
    color: #2E282A;
    border: none;
    margin: 0.5%;
}

h1,h2{
    color: #E3D924;
}