.lateral{
    background-color: #2E282A;
    color:white;
    height: 85vh;
}
.bg-dark a {
    color:white;
}

.bg-dark label {
    color:white;
}
.card-bg {
    background-color:blue;
}

.container-nomargin {
    margin: 0;
    height: 85vh;
}

.reproductor {
    background-color: #2E282A;
    color:white;
    height: 15vh;
    width: 100%;
}

/* clases del slider */
.card{
    width: 18rem;
   border-radius: 10px;
   border:none;
   box-shadow: 10px 4px 10px rgba(0,0,0,0.6);
  
 }

.img-card{
 width: 100%;
 border-radius:10px 10px 0 0;
}
/* ------ */

